    <div class="col-md-{{this.columnSize}}">
        {{#if this.label}}
            <label class="control-label" for={{this.componentId}}>
                <span class="txt-bold">{{this.label}}</span>
            </label>
        {{/if}}
        {{#if (is-equal this.componentType 'select')}}
            <select class="form-select {{this.cssClass}}" value={{this.value}} onchange={{action 'onNewSelectChange'}} disabled={{this.disabled}} required={{this.required}}>
                {{#unless this.hidePrompt}}
                    <option value=''>No selection</option>
                {{/unless}}
                {{yield}}
            </select>
        {{else if (is-equal this.componentType 'facility')}} 
            <Utils::CustomSelectComponents::FacilitySelectComponent 
            @value={{mut this.value}} 
            @onChange={{this.onChange}} 
            @disabled={{this.disabled}} 
            @required={{this.required}} /> 
        {{else if (is-equal this.componentType 'checkbox')}}
            <Input @type="checkbox" @checked={{mut this.value}} disabled={{this.disabled}} onchange={{action 'onRawInputChange'}}/> 
        {{else if (is-equal this.componentType 'date')}}
            <Input  
            @type='datetime-local'  
            @value={{readonly this.internalDateValue}}  
            disabled={{this.disabled}}  
            label={{this.label}}  
            required={{this.required}}  
            onchange={{action 'onDateChange'}}  
            onkeydown={{action 'onDateKeyDown'}} 
            class={{concat 'form-control' ' date-component-' this.componentId ' ' this.cssClass}}
            min={{this.min}}  
            max={{this.max}} /> 
        {{else}}
            <Input 
            @type={{this.componentType}} 
            @value={{this.value}} 
            placeholder={{this.placeHolder}} 
            class="form-control {{this.cssClass}}" 
            name={{this.name}}
            onkeyup={{action 'onRawInputChange'}} 
            disabled={{this.disabled}}
            required={{this.required}}
            step={{this.step}} 
            min={{this.min}} 
            max={{this.max}}
            minlength={{this.minlength}} 
            maxlength={{this.maxlength}}
            pattern={{this.customPattern}}
            data-match-error={{this.data-match-error}} 
            data-match="{{this.data-match}}"/>
        {{/if}}
    </div>