<section class="mt-40">
    <div style="display: flex;">
        <h4>
            Devices in {{this.model.facilityName}}
            {{#if this.loadedItems.length}}
                ({{this.loadedItems.length}}/{{this.meta.itemCount}})
            {{/if}}
        </h4>
        <div class="mb-05" style="margin-left: auto;">
            <button type="button" class="btn btn-primary" {{action 'refresh'}}>Refresh</button>
        </div>
    </div>
    <div class="autocomplete-list-big">
        <ul>
            {{#each this.loadedItems as |device index|}}
                <Facilities::Devices::ListItemComponent 
                @device={{device}} 
                @index={{index}} 
                @lastAvailableItemIndex={{this.lastAvailableItemIndex}}
                @onShouldLoadNextPage={{action 'loadNextPage'}}/>
            {{/each}}
        </ul>
        {{#if this.requestLoading}}
            <LoaderComponent @smallLoader={{true}}/>
        {{/if}}
    </div>
</section>
