<li class='mt-10 mb-10'>
    <div style="display: flex;">
        <div class="txt-bold" {{action 'gotoUser' this.party.partyId}}>
            {{this.party.person.fullName}} <span><UserRoleBadgeComponent @user={{this.party.user}}/></span>
        </div>
        {{#unless this.currentUser.isCustomer}}
            {{#unless this.party.user.isSuperUser}}
                <div class="mb-05 mr-10" style="margin-left: auto;">
                    <button type="button" class="btn {{if this.hasFacAccess 'btn-secondary' 'btn-primary'}}" disabled={{is-equal this.party.partyId this.currentUser.loggedUser.party.partyId}} onclick={{unless (is-equal this.party.partyId this.currentUser.loggedUser.party.partyId) (action 'toggleAccess')}}>{{if this.hasFacAccess "Remove access" "Re-grant access"}}</button>
                </div>
            {{else}}
                <div class="mb-05 mr-10" style="margin-left: auto;">
                    <button type="button" class="btn btn-secondary" disabled="">Default access</button>
                </div>
            {{/unless}}
        {{/unless}}
    </div>
</li>