<section class="mt-40">
    <div style="display: flex;">
        <h4>
            Users with access in {{this.model.facilityName}}
            {{#if this.loadedItems.length}}
                ({{this.loadedItems.length}}/{{this.meta.itemCount}})
            {{/if}}
        </h4>
        <div class="mb-05 mr-10" style="margin-left: auto;">
            <button type="button" class="btn btn-block btn-success">Grant access</button>
            <button type="button" class="ml-10 btn btn-primary" {{action 'refresh'}}>Refresh</button>
        </div>
    </div>
    <div class="autocomplete-list-big">
        <ul>
            {{#each this.loadedItems as |party index|}}
                <Facilities::Users::ListItemComponent 
                @party={{party}} 
                @index={{index}} 
                @lastAvailableItemIndex={{this.lastAvailableItemIndex}}
                @onShouldLoadNextPage={{action 'loadNextPage'}}
                @facility={{this.model}}/>
            {{/each}}
        </ul>
        {{#if this.requestLoading}}
            <LoaderComponent @smallLoader={{true}}/>
        {{/if}}
    </div>
</section>
