  {{#if this.disabled}}
    {{or this.label this.prompt this.placeholder}}
  {{else if this.isOpened}}
    <input class='form-control'
     type="text"
     name="entity" 
     value={{readonly this.searchText}}  
     onkeyup={{action 'onKeyUp'}} 
     onkeydown={{action 'onKeyDown'}}/>
  {{else}}
    <div class="form-control" onclick={{action "open"}}>{{or this.label this.prompt this.placeholder}}</div>
  {{/if}}

  <ul class="{{if this.isOpened 'autocomplete-list-small'}}">
    {{#if this.isOpened}}
      {{#each this.loadedItems as |item index|}}
        <Utils::CustomSelectComponents::EntitySelectItemComponent 
          @lastAvailableItemIndex={{this.lastAvailableItemIndex}} 
          @onShouldLoadNextPage={{this.onShouldLoadNextPage}} 
          @text={{get item this.displayMember}} 
          @index={{index}} 
          @selectedItemIdx={{readonly this.selectedItemIdx}} 
          @onSelect={{action "selectItem" item}} 
          @onHover={{action (mut this.selectedItemIdx) index}} />
      {{else}}
        {{#unless this.requestLoading}}
          No results
        {{/unless}}
      {{/each}}
      {{#if this.requestLoading}}
        <LoaderComponent @smallLoader={{true}}/>
      {{/if}}
    {{/if}}
  </ul>
