
<CustomFormComponent 
    @columnSize={{4}} 
    @cssClass="mb-3" 
    @label="Time Period"
    @componentType="select" 
    @value={{readonly @timeFrame}}
    @required={{this.required}}
    @disabled={{this.disabled}}
    @onChange={{action 'setTimeFrame'}}>
        <option value='Today' selected={{opt-is-equal @timeFrame 'Today'}}>Today</option>
        <option value="Yesterday" selected={{opt-is-equal @timeFrame 'Yesterday'}}>Yesterday</option>
        <option value="Custom" selected={{opt-is-equal @timeFrame 'Custom'}}>Custom</option>
</CustomFormComponent>

{{#if (is-equal this.timeFrame 'Custom')}}
    <CustomFormComponent 
        @columnSize={{3}} 
        @cssClass="mb-3" 
        @componentType="date" 
        @value={{readonly @fromDate}}
        @required={{this.required}}
        @onChange={{action 'setFromDate'}} 
        @label="Start date" />

    <CustomFormComponent 
        @columnSize={{3}} 
        @cssClass="mb-3" 
        @componentType="date" 
        @value={{readonly @thruDate}}
        @required={{this.required}}
        @onChange={{action 'setThruDate'}} 
        @label="End date" />
{{/if}}