<header class="fixed-filter">
    <div style="display: flex;">
        <h3>{{if this.model.facilityId 'Edit' 'Create'}} Facility</h3>
        <div class="mb-05 mr-10" style="margin-left: auto;">
            <button type="button" class="btn btn-primary" {{action 'save'}}>Save</button>
            <button type="button" class="ml-10 btn btn-primary" {{action 'cancel'}}>Cancel</button>
        </div>
    </div>
</header>
<form class="save-facility-form mt-20" data-bs-toggle="validator" role="form">
<section>
    <div class="row">
        <CustomFormComponent 
        @columnSize={{4}} 
        @cssClass="mb-3" 
        @max="45"
        @componentType="text" 
        @value={{this.facilityName}} 
        @required={{true}}
        @label="Facility name" />
    </div>
</section>
</form>